  .parent-container{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  html .parent-container .container_form .container_form_ar{
    font-size: x-large;
    

  }